.btn-col {
  display: flex;
  flex-basis: 100px;
  width: 100%;
  gap: 2rem;
}
.searchBar {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .bg-white {
    height: "200px";
  }
  .btn-col {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }
  .search-button {
    width: 100%;
  }
}
